PORT = 3001

DB_HOST=localhost
DB_PORT=3306
DB_USER=USER
DATABASE=DATABASE
DB_PASSWORD=PASSWORD

DATABASE_URL=`mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DATABASE}`

JWT_SECRET="change-me-to-a-long-random-secret"
JWT_EXPIRES_IN="1h"

CORS_ORIGIN="http://localhost:3000"